BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Attach
SpacesInParentheses: false
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
DerivePointerAlignment: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: false
IncludeBlocks: Preserve
AlwaysBreakTemplateDeclarations: Yes
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AccessModifierOffset: -4
NamespaceIndentation: None
SpaceBeforeCpp11BracedList: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpacesInAngles: false
SpacesInSquareBrackets: false
Cpp11BracedListStyle: true